.jumbotron {
  background-color: rgb(106, 190, 230);
  text-align: center;
}
.card-header{
    background-color:rgb(110, 154, 248);
}
.card-body{
    background-color:rgb(128, 216, 238)
}
body{
    background-color:rgb(186, 231, 252) ;
}